<h3 mat-dialog-title>{{title}}</h3>

<button mat-icon-button matDialogClose style="float: right">
  <mat-icon>close</mat-icon>
</button>

<form [formGroup]="formGroup" (ngSubmit)="onDelete()">
  <mat-dialog-content>
    
    <p>Do you really want to delete this?</p>
    
    <p>
      <mat-form-field class="mat-readonly-wrapper">
        <mat-label>Years</mat-label>
        <input class="mat-readonly-block" matInput placeholder="YYYY" formControlName="year" readonly>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="mat-readonly-wrapper">
        <mat-label>Description</mat-label>
        <input class="mat-readonly-block" matInput placeholder="Fiscal Year" formControlName="description" readonly>
      </mat-form-field>
    </p>
  </mat-dialog-content>


  <mat-dialog-actions>
    <button mat-raised-button type="submit" matDialogClose>Sauvegarder</button>
    <button mat-raised-button matDialogClose>Cancel</button>
  </mat-dialog-actions>
</form>
