<button mat-icon-button matDialogClose style="float: right">
  <mat-icon>close</mat-icon>
</button>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <mat-label>Years</mat-label>
        <input matInput placeholder="YYYY" formControlName="year">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput placeholder="Fiscal Year" formControlName="description">
      </mat-form-field>
    </p>
  </mat-dialog-content>


  <mat-dialog-actions>
    <button mat-raised-button type="submit">Sauvegarder</button>
    <button mat-raised-button matDialogClose>Cancel</button>
  </mat-dialog-actions>
</form>
