<button mat-icon-button matDialogClose style="float: right">
  <mat-icon>close</mat-icon>
</button>

<form [formGroup]="formGroup" (ngSubmit)="onDelete()">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <mat-label>Fiscal Year Id</mat-label>
        <input matInput placeholder="0000" formControlName="fiscalYearId">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Government Id</mat-label>
        <input matInput placeholder="0000" formControlName="governmentId">
      </mat-form-field>
    </p>
  </mat-dialog-content>


  <mat-dialog-actions>
    <button mat-raised-button matDialogClose type="submit" [disabled]="!formGroup.valid">Sauvegarder</button>
    <button mat-raised-button matDialogClose>Cancel</button>
  </mat-dialog-actions>
</form>
